@import url(./normailize.css);

 body{
    background-color: #F6F8FC;
 }
ul,a{
    list-style: none;
    text-decoration: none;
}

:root {
    --sz: 10vmin;
    --on: #03A9F4;
    --of: #fff0;
    --gr: #666666;
    --tr: all 0.5s ease 0s;
    --lg: var(--of);
  }	
