.streat__top{
    padding: 10px 0px;
}

.streats__element ul{
  margin: 0;
  padding: 0;  
  padding-top: 10px;
}

.streats__element ul li{
    padding: 7px 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6243C4;
    font-weight: 500;
    position: relative;
    // border-bottom:1px solid #6243C4 ;
    cursor: pointer;
    border-radius: 8px;
}

.streats__element ul li a{
    list-style: none;
    text-decoration: none;
    color: #6243C4;
}

.streats__element ul li.active{
    background-color: rgb(246, 246, 246);
}

.streats__element ul li a span{
    color: #6243C4;;
    font-weight: 900;
    font-size: 20px;
    text-align: left;
}

.streats__botton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #6243C4;
    padding-top:20px;
}

.streats__botton__flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.streats__botton__flex button{ 
    border:  2px solid #0B6BCB;
    color: #0B6BCB;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    &:active{
        transform: scale(.9);
    }
}

.streat__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border:1px solid rgb(187, 95, 95);
    border-radius: 5px;
    padding: 5px 5px;
    & svg{
        color: rgb(217, 113, 113);
    }
}